
.venn-diagram ellipse {
    fill-opacity: 0.2;
    stroke: black;
    stroke-width: 1.5;
}

.venn-diagram circle {
    fill-opacity: 0.2;
    stroke: black;
    stroke-width: 1.5;
}
.venn-diagram text {
    //fill: #0088cc;
}
.venn-diagram text:hover {
    text-decoration: underline;
    //fill: #005580;
}

